<div class="admin-container">
  <div class="manage-header">
    <h1 class="fw-bold mb-4">Manage Users</h1>
  </div>

  <table class="admin-table users-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>

    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <td>#<%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.name %></td>
    
          <td>
            <% if (user.isAdmin) { %>
              <span class="admin-badge">Admin</span>
            <% } else { %>
              User
            <% } %>
          </td>
        </tr>
      <% }) %>
    </tbody>
    </table>
</div>
